<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/header %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container blog blog-index">
   <% include ./partials/pheader ﻿%>

   <div class="buttons">
    <a class="btn btn-default" href="/blogs/new">New</a>
   </div>

   <table class="table table-striped blogs">
    <thead>
     <tr>
      <th class="title">Title</th>
      <th class="date">Date</th>
     </tr>
    </thead>
    <tbody>
     <% if(blogs == null || blogs.length == 0){ %>
      <tr>
       <td class="noData" colspan=100> There is no data to show :( </td>
      </tr>
     <% } %>
     <% blogs.forEach(function(blog) { %>
      <tr>
       <td class="title">
        <a href="/blogs/<%= blog._id %>"><div><%= blog.title %></div></a>
       </td>
       <td class="date">
        <%= blog.createdAt %>
       </td>
      </tr>
     <% }) %>
    </tbody>
   </table>
  </div> <!-- container end -->
  <footer>
    <% include ../partials/footer %>
  </footer>
 </body>
</html>
