<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/header %>
   </head>

  <body class="photos_index">
      <% include ../partials/nav %>

  <div class="container photo">
      <% include ./partials/pheader ﻿%>

   <div class="buttons">
    <a class="btn btn-primary btn-lg" href="/blogs/new">Add a photo</a>
   </div>

  <div class="photo_index_pic">
       <% blogs.forEach(function(blog) { %>
    <a href="/blogs/<%= blog._id %>"><div class="photo_index_title"><%= blog.title %></div></a>
    <div class="photo_index_time">
       <%= blog.createdAt %></div>
    <div class="blog-image"><img class ="thumbnail pic" src = <%= blog.image %> ></div>
       <% }) %>
  </div>
 </div>

</body>
</html>
