<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body class="container-fluid login">
  <% include ./partials/nav %>

  <main class="login_all">
    <h1>Log in</h1>
    <form method="post" action="/login">
    <div class="contentBox">
    <h2 class="contentBoxTop">User login</h2>
    <div class="buttons">
      <button type="submit" class="btn btn-default">Login</button>
    </div>

    <div class="form-group login_schema">
      <label for="username"><h3>Username</h3></label>
      <input class="form-control" type="text" name="username" placeholder="Your username">
    </div>

   <div class="form-group login_schema">
     <label for="password"><h3>Password</h3></label>
     <input class="form-control" type="password" name="password" placeholder="Your password">
   </div>


   </div>
   </form>
 </main>

</body>
</html>
