<!DOCTYPE html>
<html>
 <head>
  <% include ./partials/header %>
 </head>

 <body class="secret_index">
  <% include ./partials/nav %>

  <main>
    <div class="secret_message">
      <h1>Congrats! You have reached the <span style="color: red">SECRET</span> page</h1>
    </div>
  </main>


  <footer>
    <% include ./partials/footer %>
  </footer>
 </body>
</html>
