<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>

  <body class="secret_index">
  <% include ./partials/nav %>

  <main>
  <div class="jumbotron secret_message">
    <h1>Congrats!<h1>
    <h1>You have reached the <span style="color: red">SECRET</span> page</h1>
    <br>
    <h1>Click <a href ='#'>HERE</a> to recieve <br>
      a special present only for you </h1>
  </div>
  </main>

</body>
</html>
