.pic {
  width: 500px;
}

.blog-info {
  font-size: 12px;
}

/* global style */
.buttons {
 margin: 10px 100px 10px 0;
 padding: 0 5px;
 text-align: right;

}

.buttons form{
 display: inline-block;
}


/* Signup and login */
.contentBox {
/*border-top: 2px solid #ccc;*/
/*border-bottom: 2px solid #ccc;*/
margin : 10px 20px 15px 20px;

}
.contentBoxTop {
font-size: 30px;
/*border-bottom: 1px solid #ccc;*/
/*background-color: skyblue;*/

}

/* home style */
.home h1{
  color : pink;
}

.title {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

.footerJM {
  font-family: 'Satisfy', cursive;
  font-size: 15px;
/*position: absolute;*/
  bottom : 0;
  right: 3em;

}

/* post style */
.post {
 /*max-width: 670px;*/
 font-family: 'Satisfy', cursive;

 }

.post h1 {
 color: gray;
 /*text-align: center;*/
}
.post .post-body{
 white-space: pre-line; /* 줄바꿈 */
 padding: 6px 15px 20px;
}
.post .posts .date {
 text-align: right;
 padding-right: 50px;
 font-size: 15px;
 margin: 0;
}


.post .post-info{
 font-size: 13px;
 /*margin: 5px;*/
 /*padding: 5px 10px;*/
 /*background-color: #E4E4E4;
 border: 0 solid black;*/
 /*border-bottom: : 5px dotted black;*/
}

/*.post .posts th,
.post .posts td
{
 padding: 7px 5px;
} 게시판?? */

.post-index .posts{
 border-top: 1px solid black;
 border-bottom: 1px solid red;
 align-items: center;
}

.post .posts th:first-child,
.post .posts td:first-child
{
 padding-left: 30px;
}

/*.post .posts thead{
 background-color: dotted gray;
} 타이틀 적혀 있는 부분 */

.post .posts thead tr th{
 border-bottom: 1px solid orange;
}
.post .posts tbody tr:nth-child(odd){
 background-color: white;
}
.post .posts tbody .noData{
 background-color: white;
 text-align: center;
}

.post-new,
.post-edit{
 max-width: 520px;
}


/*nav bar*/
#myNavbar {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}
