<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/header %>
    <title>Following</title>
  </head>

  <body class="home_about">

  <% include ../partials/nav %>
  <div class="container home home-welcome">
    <div>
      <h1>About</h1>
      <p>this site is for testing</p>
    </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
</html>
