<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ../partials/header %>
    <title>Following</title>
</head>

<body class="home_about">
  <% include ../partials/nav %>

    <div class="container">
      <p class="home_title2">About</p>
      <p class="home_body2">Many of us dream of packing our belongings,
        buying a plane ticket to that place we’ve always dreamed of going,
        and starting a new life. Have you ever wondered what that would be like —
        and whether you’d regret it?</p>
    </div>

</body>

</html>
